<div id="{{ include.id }}"></div>

<script>
	$(document).ready(function() {
		var pageTreeContainer = document.getElementById('{{ include.id }}');

		if (pageTreeContainer !== null && pageTreeContainer !== undefined) {
			var pageTreeElement = pageTreeFactoryInstance.createPageTreeElement('{{ include.path }}', {{ include.expanded }});

			if (pageTreeElement !== null && pageTreeElement !== undefined) {
				pageTreeContainer.className = '{{ include.class }}';
				pageTreeContainer.appendChild(pageTreeElement);
			}
		}
	});
</script>
