{% capture build %}

{% assign result = '' %}
{% assign allTags = '' %}
{% assign uniqTags = '' %}
{% assign basePath = include.basePath %}

{% for page in site.pages %}
	{% if page.path contains basePath and page.tags.size > 0 %}
		{% assign pageTags = page.tags | join: '|' %}
		{% assign allTags = allTags | append: pageTags | append: '|' %}
	{% endif %}
{% endfor %}

{% for page in site.posts %}
	{% if page.path contains basePath and page.tags.size > 0 %}
		{% assign pageTags = page.tags | join: '|' %}
		{% assign allTags = allTags | append: pageTags | append: '|' %}
	{% endif %}
{% endfor %}

{% assign allTags = allTags | split: '|' | sort %}

{% for tag in allTags %}
	{% assign pageTag = tag | strip | append: '|' %}

	{% unless uniqTags contains pageTag %}
		{% assign uniqTags = uniqTags | append: pageTag %}
	{% endunless %}
{% endfor %}

{% assign allTags = uniqTags | split: '|' %}

{% if allTags.size > 0 %}
	{% assign result = result | append: '<ul class="IndexContents">' %}

	{% for tag in allTags %}
		{% assign result = result | append: '<li><a href="#' | append: tag | append: '">' | append: tag | append: '</a></li>' %}
	{% endfor %}

	{% assign result = result | append: '</ul>' %}

	{% for tag in allTags %}
		{% assign result = result | append: '<h2 id="' | append: tag | append: '">' | append: tag | append: '</h2>' %}
		{% assign result = result | append: '<ul class="IndexPages">' %}

		{% for page in site.pages %}
			{% if page.path contains basePath and page.tags.size > 0 %}
				{% assign pageTags = '' %}

				{% for t in page.tags %}
					{% assign pt = t | strip | append: '|' %}
					{% assign pageTags = pageTags | append: pt %}
				{% endfor %}

				{% assign pageTags = pageTags | split: '|' %}

				{% if pageTags contains tag %}
					{% assign result = result | append: '<li><a href="' | append: page.url | append: '">' | append: page.title | append: '</a></li>' %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% for page in site.posts %}
			{% if page.path contains basePath and page.tags.size > 0 %}
				{% assign pageTags = '' %}

				{% for t in page.tags %}
					{% assign pt = t | strip | append: '|' %}
					{% assign pageTags = pageTags | append: pt %}
				{% endfor %}

				{% assign pageTags = pageTags | split: '|' %}

				{% if pageTags contains tag %}
					{% assign result = result | append: '<li><a href="' | append: page.url | append: '">' | append: page.title | append: '</a></li>' %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% assign result = result | append: '</ul>' %}
	{% endfor %}
{% endif %}

{% endcapture %}

{{ result }}
