/**
 * Alphabetical Index
 */

.IndexContents {
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: $spacing-unit;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: transparent;
}

.IndexContents ul {
	list-style: none;
}

.IndexContents > li {
	display: inline-block;
}

.IndexContents > li + li:before {
	vertical-align: middle;
	content: "|";
	color: $grey-color;
	padding: 0 5px;
}

.IndexPages > li {
	font-size: 14px;
}

.PostList {
	margin: 0;
	list-style: none;
}

.PostList li {
	margin: 0;
	padding-bottom: $spacing-unit;
}
