/**
 * Alphabetical Index
 */

.IndexContents {
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: $spacing-unit;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: transparent;
}

.IndexContents ul {
	list-style: none;
}

.IndexContents > li {
	display: inline-block;
}

.IndexContents > li + li:before {
	vertical-align: middle;
	content: "|";
	color: $grey-color;
	padding: 0 5px;
}

.IndexPages > li {
	font-size: 14px;
}

.PostList {
	margin: 0;
	list-style: none;
}

.PostList > li {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: $spacing-unit * 2;
}

.PostMetadata {
	margin: 0;
	list-style: none;
	font-size: 14px;
	color: $grey-color-dark;
}

.PostMetadata > li {
	display: inline-block;
	margin-right: 10px;
}

.PostMetadata > li > i {
	margin-right: 5px;
}

.PostMetadata > li > a {
	color: $grey-color-dark;

	&:hover {
		color: $brand-color-dark;
		text-decoration: none;
	}
}

.PostExcerpt {
}

.PostTags {
}

.EditPageButton {
	float: right;
	font-size: 14px;
}

.EditPageButton a {
	color: $grey-color;
	text-decoration: none;
}

.EditPageButton a:hover {
	color: $brand-color-dark;
}

/**
 * Code Block
 */

.CodeBlock {
	margin-top: $spacing-unit / 2;
	margin-bottom: $spacing-unit / 2;
}

.CodeBlockFooter {
	font-size: 12px;
	padding: 8px 18px;
	margin-top: -$spacing-unit/2 - 1;
	border: 1px solid $grey-color;
}

.CodeBlockFooter > .CodeBlockHtmlLink {
}

.CodeBlockFooter > .CodeBlockRawLink {
	float: right;
}

.CodeBlockHtmlLink i {
	padding-right: 5px;
}
