/**
 * PageTree
 */

$indent: 18px;
$fontSize: 14px;
$fontSizeRoot: 18px;
$fontColor: rgba(1, 1, 1, 0.87);


.MainPageTree {
	background-color: $grey-color-light;
	border: 1px solid $grey-color;
	border-radius: 0;
	margin-bottom: $spacing-unit;
}


.PageTreeNavigationPanel {
	display: none;
}

.MainPageTree .PageTreeNavigationPanel {
	display: block;
	padding: 0;
	margin: $indent;
	font-style: normal;
	font-weight: normal;
	font-size: $fontSize;
}

.PageTreeNavigationPanel ul {
	list-style: none;
}

.PageTreeNavigationPanel > li {
	display: inline-block;
}

.PageTreeNavigationPanel > li + li:before {
	vertical-align: middle;
	content: "|";
	color: $grey-color;
	padding: 0 5px;
}


.PageTree {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: normal;
	font-size: $fontSize;
}

.MainPageTree .PageTree a {
	color: $fontColor;
}

.PageTree li {
	list-style-type: none;
	word-wrap: break-word;
}

.PageTreeNode {
	margin-left: $indent;
    zoom: 1;
}

.PageTreeAction {
	width: $indent;
	height: $indent;
	float: left;
}

.PageTreeAction:after {
	content: "";
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px; 
}

.PageTreeContent {
	margin-left: $indent;
	min-height: $indent;
}

.PageTreeRootNode {
	margin-left: 0;
	margin-top: $indent;
	margin-bottom: $indent;
}

.PageTreeSelectedNode {
	font-weight: bold;
}

.PageTreeRootNode > .PageTreeAction {
	display: none;
}

.PageTreeRootNode > .PageTreeContent {
	display: none;
}

.PageTreeRootNode > .PageTreeSelectedNode {
	font-weight: normal;
}

.PageTreeOpened .PageTreeAction:before {
	font-family: FontAwesome;
	vertical-align: middle;
	content: "\f107";
}

.PageTreeClosed .PageTreeAction:before {
	font-family: FontAwesome;
	vertical-align: middle;
	content: "\f105";
}

.PageTreeItem .PageTreeAction:before {
	font-family: FontAwesome;
	vertical-align: middle;
	content: "\f111";
	font-size: $fontSize / 3;
}

.PageTreeOpened .PageTree {
	display: block;
}

.PageTreeClosed .PageTree {
	display: none;
}

.PageTreeOpened .PageTreeAction, .PageTreeClosed .PageTreeAction {
	cursor: pointer;
}

.PageTreeItem .PageTreeAction {
	cursor: auto;
}
