/**
 * PageTags
 */

.PageTags {
	padding: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: $spacing-unit;
	line-height: 1;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: transparent;
	color: $grey-color-dark;
}

.PageTags:before {
	padding-right: 0.5em;
	font-family: FontAwesome;
	vertical-align: middle;
	content: "\f02c";
}

.PageTags ul {
	list-style: none;
}

.PageTags > li {
	padding: 0.3em 0.5em;
	margin-right: 0.5em;
	display: inline-block;
	background-color: $grey-color-light;
	border: 1px solid $grey-color;
	border-radius: 3px;
}

.PageTags a {
	white-space: nowrap;
	display: inline-block;
}
