---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;
$text-color: rgba(0, 0, 0, 0.87);

$background-color: #fdfdfd;
$brand-color: #337ab7;
$brand-color-dark: #23527c;
$grey-color: #e7e7e7;
$grey-color-light: #f8f8f8;
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width:  800px;
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

// Import partials from _sass
@import "base";
@import "layout";
@import "syntax-highlighting";

{% include_relative pageTree.scss %}
{% include_relative breadcrumb.scss %}
{% include_relative pageNavigation.scss %}
{% include_relative typeahead.js.scss %}
{% include_relative pageTags.scss %}
{% include_relative misc.scss %}
