---
layout: default
---
<article>
	<ul class="PostList">
		{% for post in paginator.posts %}
			<li>
				<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
				<ul class="PostMetadata">
					<li><i class="fa fa-calendar-o"></i>{{ post.date | date: "%b %-d, %Y" }}</li>
					<li><i class="fa fa-comment-o"></i><a href="{{ post.url }}#disqus_thread">0 Comments</a></li>
				</ul>
				<p class="PostExcerpt">
					{{ post.excerpt }}
				</p>
				<div class="PostTags">
					{% include pageTags.html tags=post.tags %}
				</div>
			</li>
		{% endfor %}
	</ul>
</article>
{% if paginator.total_pages > 1 %}
<nav>
	<ul class="pagination">
		{% if paginator.previous_page %}
			<li>
				<a href="{{ paginator.previous_page_path }}" aria-label="Previous">
					<span aria-hidden="true">&larr;</span>
				</a>
			</li>
		{% endif %}

		{% assign firstPage = paginator.page | minus: 4 %}

		{% if firstPage < 1 %}
			{% assign firstPage = 1 %}
		{% endif %}

		{% assign lastPage = firstPage | plus: 8 %}

		{% if lastPage > paginator.total_pages %}
			{% assign lastPage = paginator.total_pages %}
		{% endif %}

		{% for pageNum in (firstPage..lastPage) %}
			<li {% if paginator.page == pageNum %}class="active"{% endif%}>
				<a href="{% if pageNum == 1 %}/blog/{% else %}{{ site.paginate_path | replace: ':num', pageNum }}{% endif %}">{{ pageNum }}</a>
			</li>
		{% endfor %}

		{% if paginator.next_page %}
			<li>
				<a href="{{ paginator.next_page_path }}" aria-label="Next">
					<span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% include disqusCount.html %}
