---
layout: default
---
<div class="row">
	<div class="col-md-4">
		<nav>
			{% include pageTree.html id='MainPageTree' class='MainPageTree' expanded='false' %}
		</nav>
	</div>
	<div class="col-md-8">
		<header class="PageHeader">
			{% include breadcrumb.html %}
			{% include editPage.html %}
			<h1>{{ page.title }}</h1>
		</header>
		<article class="PageContent">
			{{ content }}
		</article>
		<footer>
			{% include pageTags.html %}
			{% include pageNavigation.html %}
		</footer>
	</div>
</div>
<script>
	$(document).ready(function(){
		new LiveInfinniExample();
		new LiveJsExample();
	});
</script>
