---
layout: default
title: "Index"
---

{% capture build %}

{% assign result = '' %}
{% assign basePath = page.basePath %}

{% assign outEndList = false %}
{% assign sortedPages = site.pages | sort: "title" %}
{% assign result = result | append: '<ul class="IndexContents">' %}

{% for page in sortedPages %}
	{% if page.path contains basePath %}
		{% assign titleSize = page.title | size %}

		{% if titleSize > 0 %}
			{% capture titleSymbol %}{{ page.title | split: "" | first }}{% endcapture %}

			{% if titleSymbol != titleSymbolNext %}
				{% assign result = result | append: '<li><a href="#' | append: titleSymbol | append: '">' | append: titleSymbol | append: '</a></li>' %}
				{% capture titleSymbolNext %}{{ titleSymbol }}{% endcapture %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

{% assign result = result | append: '</ul>' %}

{% for page in sortedPages %}
	{% if page.path contains basePath %}
		{% assign titleSize = page.title | size %}

		{% if titleSize > 0 %}
			{% capture titleSymbol %}{{ page.title | split: "" | first }}{% endcapture %}

			{% if titleSymbol != titleSymbolNext %}
				{% if outEndList %}
					{% assign result = result | append: '</ul>' %}
				{% endif %}

				{% assign outEndList = true %}
				{% assign result = result | append: '<h2 id="' | append: titleSymbol | append: '">' | append: titleSymbol | append: '</h2>' %}
				{% assign result = result | append: '<ul class="IndexPages">' %}
				{% capture titleSymbolNext %}{{ titleSymbol }}{% endcapture %}
			{% endif %}

			{% assign result = result | append: '<li><a href="' | append: page.url | append: '">' | append: page.title | append: '</a></li>' %}
		{% endif %}
	{% endif %}
{% endfor %}

{% endcapture %}

{{result}}
